@import "../utils/vars.scss";
@import "../utils/mixins.scss";

.new-project {
  @include posr;
  @include flex-column;
  @include flex-start-center;
  background: $backgroundColor;
  width: 450px;
  height: calc(100vh - 80px);
  padding: 40px 0;
  margin: 0;

  &__h3 {
    @include h6;
    @include m5;
  }

  &__input {
    @include underline-input;
    @include m20;
    width: 350px;
  }

  &__textarea {
    @include underline-textarea;
    width: 350px;
  }

  &__button {
    @include default-button;
    @include m20;
    @include b18;
    width: 150px;
  }
}
