@font-face {
  font-family: "montserratRegular";
  src: url("/static/fonts/Montserrat-Regular.woff");
}

@font-face {
  font-family: "montserratSemiBold";
  src: url("/static/fonts/Montserrat-Regular.woff");
}

@font-face {
  font-family: "montserratMedium";
  src: url("/static/fonts/Montserrat-Medium.woff");
}

@font-face {
  font-family: "montserratExtraBold";
  src: url("/static/fonts/Montserrat-ExtraBold.woff");
}

@font-face {
  font-family: "ralewayRegular";
  src: url("/static/fonts/Raleway-Regular.woff");
}

@font-face {
  font-family: "ralewayBold";
  src: url("/static/fonts/Raleway-Bold.woff");
}
