/* Colors */
$backgroundColor: #ffffff;
$primaryColor: rgb(40, 80, 160);
$textColor: rgb(36, 36, 36);
$headerColor: rgb(48, 48, 48);
$errorColor: #a60400;
$linkColor: rgb(40, 80, 160);

/* Fonts */
$textFont: "montserratRegular";
$menuFont: "montserratExtraBold";
$inputFont: "ralewayRegular";
$buttonFont: "montserratMedium";
$headerFont: "ralewayBold";
$subheaderFont: "montserratSemiBold";
$errorFont: "montserratRegular";
