@import "../../utils/vars.scss";
@import "../../utils/mixins.scss";

.project {
  @include posr;
  @include flex-row;
  @include flex-around;
  @include flex-wrap;
  @include p20;
  width: calc(100% - 500px);
  height: calc(100% - 40px);
  margin: 0 0 0 20px;
}

.project-info {
  @include posr;
  @include flex-column;
  @include flex-start;
  width: 100%;

  &__title {
    @include h4;
    @include m20;
  }

  &__description {
    @include sh6;
  }
}

.project-cards {
  @include posr;
  @include flex-row;
  @include flex-start;
  margin: 30px 0 0 0;
  width: 100%;
  overflow-x: hidden;
}

.cards-list {
  @include posr;
  @include flex-column;
  @include flex-start;
  opacity: 0;
  padding: 0 10px;
  width: calc(100% / 3 - 20px);
  order: 1;
  transition: 400ms;

  &--visible-all {
    opacity: 1;
    flex-shrink: 0;
  }

  &--visible {
    order: 0;
    opacity: 1;
    width: 100%;
    flex-shrink: 0;
  }

  &__header {
    @include sh5;
    @include flex-row;
    @include flex-center-center;
    width: 100%;
    text-align: center;
  }

  &__button {
    @include square(32px);
    @include block;
    margin: 0 0 0 10px;
    text-decoration: none;
    background-color: transparent;
    background-size: 100% 100%;
    background-image: url("/static/img/add.svg");
    cursor: pointer;
  }

  &__show-all {
    @include default-link;
    @include m5;
    text-align: center;
    width: 100%;
    display: none;

    &--visible {
      display: block;
    }
  }
}

.project-card {
  @include posr;
  @include flex-column;
  @include flex-start-center;
  @include m20;
  @include b5;
  padding: 20px 30px;
  width: calc(100% - 60px);
  background: $backgroundColor;
  overflow: hidden;
  transition: 400ms;

  &__title {
    @include medium-text-font;
    width: 100%;
  }

  &__description {
    @include text-font;
    width: 100%;
    margin: 10px 0 0 0;
  }

  &__input-title {
    @include underline-input;
    width: 100%;
  }

  &__textarea-description {
    @include underline-textarea;
    @include m20;
    width: 100%;
    transition: 400ms;
  }

  &__buttons-container {
    @include flex-row;
    @include flex-between;
    @include flex-wrap;
    width: 100%;
    transition: 400ms;
  }

  &__button-add {
    @include default-button;
    @include b5;
    width: 170px;
  }

  &__button-hide {
    @include default-button;
    @include b5;
    width: 170px;
  }

  &--visible {
    @include flex-start-center;

    .project-card {
      &__input-title,
      &__textarea-description {
        width: 500px;
      }
      &__buttons-container {
        width: 500px;
      }
    }
  }
}
